body {
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.left {
  width: 45%;
  margin-top: 70px;
}
.right {
  background-color: white;
}
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px #ccc;
}

form input {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

form button {
  background-color: #1877f2;
  border-radius: 5px;
  padding: 10px 20px;
  border: none;
  color: white;
}

form a {
  text-decoration: none;
  color: #1877f2;
}

.signup {
  background-color: #42b72a;
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
  border: none;
  width: 80%;
  margin-left: 25px;
}
